@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

nav,
footer,
header,
aside {
  display: block;
}

html {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

.block-hint {
  position: relative;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.block-hint:hover .hint {
  visibility: visible;
  opacity: 1;
}

.hint {
  position: absolute;
  visibility: hidden;
  top: 125%;
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: max-content;
  transition: 0.3s;
}

.hint__content {
  color: #ececec;
  font-size: 12px;
  letter-spacing: 1px;
  position: relative;
  top: -1px;
  padding: 7px 13px;
  text-align: center;
  background-color: #658901;
  border-radius: 5px;
}

.arrow {
  background-color: #658901;
  width: 20px;
  height: 10px;
  clip-path: polygon(50% 0, 0% 100%, 100% 100%);
}

.flex-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.flex-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

body {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.06em;
  font-family: 'Manrope', sans-serif;
  color: #444444;
  background-color: #ffffff;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0;
  /* <-- Apparently some margin are still there even though it's hidden */
}

.container {
  width: 1200px;
  margin: auto;
}

.select {
  font-family: inherit;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.06em;
  font-family: 'Manrope', sans-serif;
  color: #444444;
  font-weight: bold;
  letter-spacing: 0.03em;
  outline: none;
  cursor: pointer;
}

.button,
button {
  display: inline-block;
  width: fit-content;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.06em;
  font-family: 'Manrope', sans-serif;
  color: #444444;
  height: 50px;
  padding: 17px 25px;
  text-align: center;
  background-color: #8AB809;
  color: #f2f2f2;
  transition: 0.3s;
  position: relative;
  outline: none;
}

.button:hover,
button:hover {
  color: #f2f2f2;
  background-color: #7daa00;
  animation: hover 0.3s forwards;
}

@keyframes hover {
  from {
    top: 0;
  }
  to {
    top: -3px;
  }
}

@keyframes hover-card {
  from {
    top: 0;
    border: 0px solid #8AB809;
  }
  to {
    top: -20px;
    border: 1px solid #8AB809;
    box-shadow: 0px 25px 40px rgba(0, 0, 0, 0.15);
  }
}

a {
  color: #828282;
}

a:hover {
  color: #8AB809;
}

a:active {
  color: #658901;
}

input[type='text'],
input[type='email'],
select[ui-style="ui_select"],
textarea {
  outline: none;
  height: 50px;
  padding: 0px 25px;
  background-color: #fcfcfc;
  border: 1px solid #E7E7E7;
  transition: 0.3s;
  margin-right: 10px;
}

input[type='text']:focus,
input[type='email']:focus,
select[ui-style="ui_select"]:focus,
textarea:focus {
  border: 1px solid #8AB809;
  background-color: #EEF4DA;
}

select[ui-style="ui_select"] {
  width: 100%;
  padding-right: 50px;
  appearance: none;
  background: url("../pictures/arrow.svg") no-repeat right;
  background-position-x: calc(100% - 20px);
  background-color: #fcfcfc;
}

textarea {
  width: 100%;
  padding-top: 17px;
  padding-bottom: 17px;
  margin-right: 0;
  resize: vertical;
  min-height: 100px;
}

.main-content {
  margin-bottom: 100px;
}

.menu {
  height: 60px;
  background-color: #f8f8f8;
  border-bottom: 1px solid #E7E7E7;
}

.menu .flex-box__column ul li {
  border-right: 1px solid #bdbdbd;
}

.menu .flex-box__column ul li a {
  padding: 21px 20px;
  color: #828282;
  transition: 0.3s;
}

.menu .flex-box__column ul li a:hover {
  color: #8AB809;
}

.menu .flex-box__column ul li.special a {
  font-weight: bold;
  color: #8AB809;
}

.menu .flex-box__column ul li.special a:hover {
  background-color: #EEF4DA;
  color: #658901;
}

.menu .flex-box__column ul li:last-child {
  border-right: none;
}

.menu .flex-box__column .select {
  background-color: inherit;
}

.menu .flex-box__column .select:first-child {
  margin-right: 15px;
}

.menu .flex-box__column #profile {
  margin-left: 10px;
}

.logo {
  display: flex;
}

.logo .logo__img {
  margin-right: 24px;
}

.logo .logo__content {
  align-items: flex-start;
  justify-content: center;
}

.logo .logo__content .logo__name {
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.logo .logo__content .logo__descr {
  width: 170px;
  font-size: 12px;
  line-height: 1.2em;
  color: #828282;
}

.main-action {
  height: 130px;
}

.main-action .flex-box__column .search-block .search-block__input .select-block {
  display: flex;
  height: 50px;
  padding: 0px 24px;
  background-color: #E5E5E5;
}

.main-action .flex-box__column .search-block .search-block__input .select-block select {
  background-color: inherit;
}

.main-action .flex-box__column .search-block .search-block__input input {
  width: 315px;
  border-left: none;
}

.main-action .flex-box__column .personal-data .personal-data__item {
  margin-left: 25px;
  align-items: center;
}

.main-action .flex-box__column .personal-data .item-icon {
  position: relative;
}

.main-action .flex-box__column .personal-data .item-title {
  align-items: flex-start;
  margin-left: 13px;
}

.main-action .flex-box__column .personal-data .item-title span {
  color: #bdbdbd;
  font-weight: 300;
  margin-bottom: 4px;
}

.main-action .flex-box__column .personal-data .item-title h2 {
  font-size: 18px;
  font-weight: bold;
  color: #658901;
}

.main-action .flex-box__column .personal-data .item-data {
  position: absolute;
  right: -7px;
  bottom: -7px;
  background-color: #8AB809;
  color: white;
  padding-top: 3px;
  height: 22px;
  width: 22px;
  text-align: center;
  font-size: 12px;
  border-radius: 50%;
  border: 2px solid white;
}

.background-photo {
  height: 500px;
  overflow: hidden;
  position: relative;
}

.background-photo img {
  position: absolute;
  top: -405px;
}

.grid {
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit);
  gap: 20px;
  width: 900px;
  padding: 25px;
  background-color: #fff;
  position: relative;
  top: -50px;
}

.grid .grid__cell {
  overflow: hidden;
  position: relative;
}

.grid .grid__cell img {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.grid .grid__cell .content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 50px 35px;
  color: #f2f2f2;
  text-transform: uppercase;
}

.grid .grid__cell .content span {
  color: #8AB809;
  font-size: 12px;
}

.grid .grid__cell .content h2 {
  margin-top: 5px;
  font-size: 25px;
}

.grid .grid__cell .more {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  transition: 0.3s;
  opacity: 0;
  cursor: pointer;
}

.grid .grid__cell .more button {
  color: #8AB809;
  border: 1px solid #8AB809;
  background-color: unset;
  padding: 10px 16px;
  outline: none;
  transition: 0.3s;
}

.grid .grid__cell .more button:hover {
  background-color: #8AB809;
  color: #f2f2f2;
}

.grid .grid__cell:last-child {
  grid-column: span 2;
}

.grid .grid__cell:hover .more {
  opacity: 1;
}

.advantages {
  margin: 100px 0px 150px 0px;
}

.advantages img {
  margin-right: 20px;
}

.advantages h3 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 5px;
}

.advantages p {
  color: #bdbdbd;
}

.section__title {
  font-size: 20px;
  font-weight: bold;
  padding: 60px 0px 60px 60px;
  text-transform: uppercase;
}

.new-arrival {
  background-color: #f8f8f8;
  padding-bottom: 80px;
}

.new-arrival .products {
  justify-content: center;
  padding-top: 20px;
}

.new-arrival .button {
  margin: auto;
  display: block;
}

.product-card {
  width: 250px;
  height: 325px;
  background-color: #fff;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.06);
  position: relative;
  margin-right: 65px;
}

.product-card:last-child {
  margin-right: 0px;
}

.product-card:hover {
  animation: hover-card 0.4s forwards;
}

.product-card:hover .information {
  opacity: 1;
}

.product-card .content {
  padding: 30px;
  height: 100%;
  align-items: flex-start;
  justify-content: space-between;
}

.product-card .label {
  position: absolute;
  right: -15px;
  top: 20px;
  display: inline-block;
  padding: 7px 12px;
  background-color: #8AB809;
  color: #f2f2f2;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.21);
}

.product-card .product-card__title {
  font-size: 16px;
  font-weight: normal;
  line-height: 1.3em;
}

.product-card .product-card__cost {
  font-size: 20px;
  font-weight: bold;
  color: #658901;
}

.product-card .information {
  position: absolute;
  opacity: 0;
  padding: 15px;
  width: 100%;
  bottom: 0;
  background-color: #EEF4DA;
  justify-content: space-around;
  transition: 0.4s;
}

.product-card__image {
  z-index: 50;
  width: 100%;
  height: 180px;
  position: relative;
  cursor: pointer;
}

.product-card__image img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.swiper-container {
  margin-bottom: 60px;
}

.swiper-slide {
  padding-bottom: 80px;
}

.swiper-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 45px;
}

.products-bullet {
  cursor: pointer;
  width: 25px;
  height: 5px;
  background: #dadada;
  border-radius: 5px;
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
  transition: 0.4s;
}

.products-bullet-active {
  width: 50px;
  height: 5px;
  background: #8AB809;
  border-radius: 5px;
}

.promotion {
  padding-bottom: 50px;
}

.promotion h3 {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.06em;
  font-family: 'Manrope', sans-serif;
  color: #444444;
  color: #828282;
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
}

.promotion .countdown {
  margin: auto;
  font-family: sans-serif;
  color: #fff;
  font-weight: 100;
  text-align: center;
  font-size: 30px;
  justify-content: center;
  margin-bottom: 70px;
}

.promotion .countdown-number {
  padding: 25px;
  color: #8AB809;
  font-size: 45px;
  position: relative;
}

.promotion .countdown-number::after {
  content: '';
  height: 30px;
  width: 1px;
  background-color: #e8e8e8;
  position: absolute;
  top: 40%;
  left: 100%;
}

.promotion .countdown-number:last-child::after {
  display: none;
}

.promotion .countdown-text {
  display: block;
  padding-top: 5px;
  font-size: 14px;
  color: #bdbdbd;
}

.product-block .columns {
  justify-content: center;
}

.product-block .columns .product__photo {
  position: relative;
  width: 170px;
  height: 470px;
  margin-right: 120px;
}

.product-block .columns .product__photo img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.product__description {
  align-items: flex-start;
}

.product__description .description__row {
  margin-bottom: 15px;
  justify-content: flex-start;
}

.product__description h3.product__name {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.06em;
  font-family: 'Manrope', sans-serif;
  color: #444444;
  text-align: left;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 25px;
  width: 60%;
  line-height: 1.2em;
}

.product__description .label {
  color: #bdbdbd;
}

.product__description a.label:hover {
  color: #8AB809;
}

.product__description .green-text {
  color: #8AB809;
  font-weight: bold;
}

.product__description .additional-data {
  align-items: flex-start;
}

.product__description .additional-data .stars {
  margin-right: 15px;
}

.product__description .color {
  align-items: flex-start;
  margin-bottom: 50px;
}

.product__description .color .label {
  margin-bottom: 10px;
}

.product__description .cost {
  align-items: flex-start;
  margin-bottom: 40px;
}

.product__description .cost .label {
  margin-bottom: 5px;
}

.product__description .cost .cost__value {
  align-items: flex-end;
}

.product__description .cost .cost__value h3 {
  font-size: 30px;
  color: #658901;
  margin-right: 20px;
  font-weight: bold;
}

.product__description .cost .cost__value h4 {
  color: #828282;
  text-decoration: line-through;
  font-weight: normal;
  font-size: 20px;
  line-height: 1.4em;
}

.product__description .count-product {
  align-items: flex-start;
}

.product__description .count-product .label {
  margin-bottom: 10px;
}

.product__description .count-product .row .column {
  margin-right: 15px;
}

.product__description .count-product .row .column .block-hint {
  margin-left: 10px;
  margin-right: 10px;
}

.count__value {
  position: relative;
}

.count__value input {
  background-color: #EEF4DA;
  height: 50px;
  padding: 0px 0px 0px 23px;
  width: 100%;
  color: #658901;
  font-weight: bold;
  outline: none;
}

.count__value input:focus {
  border: 1px solid #8AB809;
}

.count__value .buttons {
  position: absolute;
  top: 0;
  right: 0;
  border-left: 1px solid #8AB809;
  padding-left: 10px;
}

.count__value .buttons span {
  padding: 0px;
  font-size: 16px;
  font-weight: bold;
  color: #658901;
  cursor: pointer;
  padding: 17px;
}

.count__value .buttons span:hover {
  background-color: #a8ce3e4f;
}

.custom-radio {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

/* создание в label псевдоэлемента  before со следующими стилями */
.custom-radio + label::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  flex-grow: 0;
  border-radius: 50%;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
  cursor: pointer;
}

.custom-radio[color='gray'] + label::before {
  background-color: #e4e4e4;
}

.custom-radio[color='black'] + label::before {
  background-color: #5c5c5c;
}

.custom-radio[color='gold'] + label::before {
  background-color: #d27d62;
}

/* стили при наведении курсора на радио */
.custom-radio:not(:disabled):not(:checked) + label:hover::before {
  box-shadow: 0 0 0 0.2rem rgba(138, 184, 9, 0.3);
}

/* стили для радиокнопки, находящейся в фокусе */
.custom-radio:focus + label::before {
  box-shadow: 0 0 0 0.2rem #8AB809;
}

/* стили для радиокнопки, находящейся в фокусе и не находящейся в состоянии checked */
.custom-radio:focus:not(:checked) + label::before {
  border-color: #c9f8d0;
}

/* стили для радиокнопки, находящейся в состоянии checked */
.custom-radio:checked + label::before {
  box-shadow: 0 0 0 0.2rem #8AB809;
}

/* стили для радиокнопки, находящейся в состоянии disabled */
.custom-radio:disabled + label::before {
  background-color: #e9ecef;
}

.partners {
  background-color: #8AB809;
  padding: 60px 0px;
}

.partners .content {
  margin: auto;
  width: fit-content;
}

.partners .content h3 {
  font-size: 20px;
  font-weight: bold;
  padding: 60px 0px 60px 60px;
  text-transform: uppercase;
  padding: 0;
  font-size: 16px;
  color: #f2f2f2;
}

.partners .content .row {
  margin-top: 40px;
}

.partners .content .row img {
  margin-right: 30px;
}

.partners .content .row img:last-child {
  margin-right: 0;
}

footer {
  background-color: #f8f8f8;
  padding: 65px 0;
}

footer .row {
  margin-bottom: 65px;
  justify-content: space-around;
  width: 100%;
  height: fit-content;
}

footer .row:last-child {
  margin-bottom: 0;
  justify-content: center;
}

footer .row .logo .logo__descr {
  width: 100%;
}

footer .row .headfones_logo {
  margin-right: 25px;
}

footer .row .content {
  align-items: flex-start;
}

footer .row .content span {
  margin-bottom: 8px;
  color: #828282;
}

footer .row .content span:last-child {
  margin-bottom: 0;
}

footer .row .content .phones * {
  margin-bottom: 0;
  margin-right: 8px;
}

footer .row .menu-footer {
  align-items: flex-start;
}

footer .row .menu-footer .menu-column {
  align-items: flex-start;
}

footer .row .menu-footer .menu-column .menu-title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 30px;
}

footer .row .menu-footer .menu-column .item {
  margin-bottom: 15px;
}

footer .row .menu-footer .menu-column:first-child {
  margin-right: 100px;
}

footer .row .row-mailing {
  margin-bottom: 25px;
}

footer .row .row-mailing:last-child {
  justify-content: flex-start;
  color: #bdbdbd;
}

footer .row .row-mailing:last-child .icons {
  font-size: 20px;
}

footer .row .row-mailing:last-child .icons i {
  margin-right: 8px;
  cursor: pointer;
  transition: 0.3s;
}

footer .row .row-mailing:last-child .icons i:first-child:hover {
  color: #4B77A6;
}

footer .row .row-mailing:last-child .icons i:nth-child(2):hover {
  color: #5599ff;
}

footer .row .row-mailing:last-child .icons i:last-child:hover {
  color: #cb39ce;
}

footer .row .row-mailing:last-child span {
  margin-right: 10px;
}

footer .row .row-mailing img {
  margin-right: 25px;
}

footer .row .row-mailing .caption span {
  color: #828282;
  margin-bottom: 6px;
  display: block;
}

footer .row .row-mailing .caption p {
  width: 335px;
  font-size: 18px;
  color: #8AB809;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.2em;
}

footer .row .row-mailing input {
  width: 310px;
}

.block-title {
  padding: 40px 0px;
  background-color: #8AB809;
  color: #f2f2f2;
  font-size: 25px;
  font-weight: 600;
  text-align: center;
}

.block-inform {
  justify-content: center;
  padding: 25px;
  background-color: #f8f8f8;
  margin-bottom: 45px;
}

.block-inform i {
  color: #8AB809;
  font-size: 20px;
  margin-right: 15px;
}

.block-inform a {
  font-weight: bold;
  color: #8AB809;
}

.basket table {
  width: 100%;
  margin-bottom: 60px;
  padding-bottom: 30px;
  border-bottom: 1px solid #bdbdbd;
}

.basket table th {
  padding: 40px 0px;
  font-weight: normal;
  color: #bdbdbd;
}

.basket table tr {
  border: 1px solid black;
}

.basket table tr td {
  text-align: center;
  padding: 30px 0px;
}

.basket table tr td .product-card {
  width: 100%;
  height: 180px;
  position: relative;
}

.basket table tr td .product-card img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.basket table tr td input {
  width: 150px;
}

.basket table tr td .buttons {
  right: 22%;
}

.basket table tr .cost {
  font-weight: bold;
  font-size: 16px;
}

.total_cost {
  font-size: 20px;
  color: #658901;
  font-weight: bold;
}

.total_cost-big {
  font-size: 23px;
}

.total-data {
  align-items: flex-start;
}

.total-data .coupon {
  align-items: flex-start;
  flex-basis: 80%;
}

.total-data .coupon p {
  font-weight: bold;
  margin-bottom: 25px;
}

.cheque {
  margin: auto;
  width: 500px;
  border-radius: 5px;
  padding: 45px;
  background-color: #f8f8f8;
  border: 1px solid #E0E0E0;
}

.cheque .cheque__header {
  font-size: 20px;
  color: #658901;
  font-weight: bold;
  padding-bottom: 40px;
  border-bottom: 1px solid #E0E0E0;
}

.cheque .section-title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 30px;
  width: 100%;
}

.cheque .section-title span {
  color: #658901;
  font-size: 20px;
}

.cheque .cheque__products {
  align-items: flex-start;
  padding: 25px 0px;
}

.cheque .product__item {
  width: 100%;
  margin: 10px 0px;
}

.cheque .product__item .item-name {
  flex-basis: 55%;
  line-height: 1.4em;
}

.cheque .product__item .item-count {
  color: #8AB809;
  font-weight: bold;
}

.cheque .product__item .item-cost {
  font-size: 18px;
  font-weight: bold;
  flex-basis: 30%;
  text-align: right;
}

.cheque .delivery {
  align-items: flex-start;
  border-bottom: 1px solid #E0E0E0;
}

.cheque .delivery .delivery-row {
  align-items: flex-start;
  width: 100%;
  margin-bottom: 30px;
}

.cheque .delivery .delivery-row input + label {
  margin-bottom: 20px;
}

.cheque .delivery .delivery-row select[ui-style="ui_select"] {
  width: 100%;
}

.cheque .delivery .delivery-row input[type='text'] {
  width: 100%;
}

.cheque .cheque__total-cost {
  padding: 45px 0px;
}

.cheque .cheque__total-cost .label {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
}

.cheque .cheque__total-cost .value {
  align-items: flex-end;
}

.cheque .cheque__total-cost .value p {
  font-size: 23px;
  font-weight: bold;
  margin-bottom: 5px;
  color: #658901;
}

.cheque .cheque__total-cost .value span {
  color: #bdbdbd;
}

.cheque .cheque-description {
  width: 100%;
  margin-bottom: 45px;
  padding-top: 45px;
  border-top: 1px solid #E0E0E0;
  color: #828282;
  line-height: 1.4em;
}

.cheque .cheque__footer .button {
  width: 100%;
}

.order {
  align-items: flex-start;
}

.order .order-column {
  flex-basis: 50%;
}

.order .row {
  margin-bottom: 25px;
}

.order .row .column {
  width: 48%;
}

.order .row .column.span-2 {
  width: 100%;
}

.order .row .column .column-item {
  align-items: flex-start;
}

.order .row .column .column-item .label {
  margin-bottom: 10px;
  position: relative;
}

.order .row .column .column-item .label.required::after {
  content: '*';
  position: absolute;
  right: -10px;
  font-size: 18px;
  font-weight: bold;
  color: #e40000;
}

.order .row .column .column-item .label span {
  color: #828282;
}

.order .row .column .column-item input {
  width: 100%;
}

.order .row .type-delivery {
  align-items: flex-start;
}

.order .row .type-delivery .type-delivery__item {
  margin: 10px 0px;
}

.order .form-order .form-order__title {
  margin-bottom: 40px;
}

.check {
  position: absolute;
  z-index: -1;
  opacity: 0;
  margin: 10px 0 0 7px;
}

.check + label {
  position: relative;
  padding: 0 0 15px 35px;
  cursor: pointer;
}

.check + label:before {
  content: '';
  position: absolute;
  top: -3px;
  left: 0;
  width: 20px;
  height: 20px;
  border: 2px solid #e4e4e4;
  border-radius: 5px;
  background: #FFF;
  transition: 0.3s;
}

.check:checked + label:before {
  border: 2px solid #8AB809;
  background-color: #EEF4DA;
}

.check:not(:checked) + label:hover:before {
  border: 2px solid #c3e26c;
}

.check + label:after {
  content: url("../pictures/arrow_check.svg");
  position: absolute;
  top: 0px;
  left: 5px;
  opacity: 0;
  transition: .2s;
}

.check:checked + label:after {
  opacity: 1;
}

.radio {
  position: absolute;
  z-index: -1;
  opacity: 0;
  margin: 10px 0 0 7px;
}

.radio + label {
  position: relative;
  padding: 0 0 15px 35px;
  cursor: pointer;
}

.radio + label:before {
  content: '';
  position: absolute;
  top: -3px;
  left: 0;
  width: 20px;
  height: 20px;
  border: 2px solid #e4e4e4;
  border-radius: 50%;
  background: #FFF;
  transition: 0.3s;
}

.radio:checked + label:before {
  border: 2px solid #8AB809;
  background-color: #EEF4DA;
}

.radio:not(:checked) + label:hover:before {
  border: 2px solid #c3e26c;
}

.radio + label:after {
  content: '';
  width: 8px;
  height: 8px;
  background-color: #658901;
  border-radius: 50%;
  position: absolute;
  top: 3px;
  left: 6px;
  opacity: 0;
  transition: .2s;
}

.radio:checked + label:after {
  opacity: 1;
}

.box-hierarchy {
  margin-bottom: 35px;
  background-color: #f8f8f8;
  padding: 30px;
}

.hierarchy-goods {
  justify-content: flex-start;
}

.hierarchy-goods .hierarchy-item {
  margin-right: 20px;
  color: #828282;
  position: relative;
}

.hierarchy-goods .hierarchy-item:not(:last-child)::after {
  content: '/';
  position: absolute;
  right: -12px;
}

.hierarchy-goods .hierarchy-item:last-child a {
  color: #8AB809;
  font-weight: bold;
}

.grid-wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: 285px 1fr;
  grid-template-rows: 80px 1fr 40px;
  grid-template-areas: "aside widget" "aside content" "aside navigation";
  grid-column-gap: 55px;
  grid-row-gap: 55px;
}

.grid-wrapper .sidebar {
  padding: 30px;
  padding-top: 15px;
  height: auto;
  background-color: #f8f8f8;
  grid-area: 1 / 1 / 4 / 2;
}

.grid-wrapper .widget {
  grid-area: 1 / 2 / 2 / 3;
  background-color: #f8f8f8;
  padding: 0px 35px;
}

.grid-wrapper .content {
  grid-area: 2 / 2 / 3 / 3;
  flex-wrap: wrap;
}

.grid-wrapper .content .product-card {
  margin-right: 35px;
  margin-bottom: 50px;
}

.grid-wrapper .content .product-card .label.none {
  display: none;
}

.grid-wrapper .navigation {
  grid-area: 3 / 2 / 4 / 3;
  justify-content: flex-end;
}

.widget p {
  font-weight: bold;
}

.widget p span {
  font-weight: normal;
}

.box-sorting {
  flex-basis: content;
}

.box-sorting p {
  margin-right: 20px;
  width: 165%;
  display: block;
}

.box-sorting select[type='ui_select'] {
  width: auto;
}

.type-view * {
  margin-left: 15px;
}

.type-view img {
  cursor: pointer;
}

.accordion__data {
  position: relative;
}

.accordion__data .box-data {
  height: auto;
  padding-top: 5px;
  padding-bottom: 5px;
  position: relative;
  margin-bottom: 10px;
  align-items: flex-start;
  color: #828282;
}

.accordion__data .box-data .more-variant {
  margin-top: 10px;
  color: royalblue;
  font-size: 12px;
  cursor: pointer;
}

.accordion__data .box-data .more-variant:hover {
  text-decoration: underline;
}

.accordion__data .box-data.box-range {
  height: 65px;
}

.navigation .navigation-block {
  display: flex;
  height: 40px;
  min-width: 40px;
  padding: 0px 20px;
  align-items: center;
  margin-left: 10px;
  color: #f2f2f2;
  background-color: unset;
  border: 1px solid #bdbdbd;
  color: #bdbdbd;
}

.navigation .navigation-block:hover {
  border-color: #8AB809;
  color: #8AB809;
}

.navigation .navigation-block_active {
  border: none;
  background-color: #8AB809;
  color: #f2f2f2;
}

.navigation .navigation-block_active:hover {
  color: #f2f2f2;
}

.navigation .navigation-block_active {
  border: none;
  background-color: #8AB809;
  color: #f2f2f2;
}
