$mainColor: #8AB809;
$lightMainColor: #EEF4DA;
$darkMainColor: #658901;
$focusColor: #7daa00;
$mainColorText: #444444;
$grayColorText: #828282;
$lightGrayColorText: #bdbdbd;
$backgroundInput: #fcfcfc;
$grayBackgroundColor: #f8f8f8;
$white: #f2f2f2;
